[DEFAULT]
ClientID:<put clientID here>
ClientSecret:<put clientSecret here or leave blank to enter manually>

[REPORT]
ReportName:<put report name here>
ReportFilePath:<put file path here>

[DOMAIN]
SearchDomain:<put search domain here example  - dc=ukps,dc=co,dc=uk>
SearchUser:<put ldap search account here example - ukpsaws\dap.l>
DomainController:<Put domain controller name FQDN or IP address here>
LDAPPort:<put the LDAP port here 389 or 636>