[DEFAULT]
# Do not leave the ClientSecrets in the config file
# The API key only needs to be Service Principal Read-Only
ClientID:<put clientID here>
ClientSecret:<put clientSecret here or leave blank to enter manually>

[REPORT]
ReportName:<put report name here>
ReportFilePath:<put file path here>

[DOMAIN]
# Example dc=domain,dc=co,dc=uk
SearchDomain:<put search domain here example>
# Example domain\ldap-account
SearchUser:<put ldap search account here example>
# Domain controller FQDN or IP address
DomainController:<Put domain controller name FQDN or IP address here>
#LDAP port 636 is LDAPS
LDAPPort:<put the LDAP port here 389 or 636>

[Entra]
Entra_ClientID:<Put Entra App ID here>
Entra_TenantID:<Put Entra Tenant ID here>
Entra_ClientSecret:<Put Entra Client Secret Value here or leave blank to enter manually>

[EXTRA_FIELDS]
# Show sub estate menu if you have a Sophos Central Enterprise Dashboard
Show_sse_menu:1
# Azure Only: List all machines otherwise only show Azure AD joined and Hybrid Azure AD joined machines
List_all_machines:0
